{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form method="POST" action="">
                {% csrf_token %}
                <p>{{ order.customer }}</p>
                <p>{{ order.product }}</p>
             
                {{ formset.management_form }}
                {% for form in formset %}
             
                    {{ form }}
                    
                <hr>
                {% endfor %}

                {{ form.management_form }}
                {% for form in form %}
             
                    {{ form.label }}
                    {{ form }}
                    
                <hr>
                {% endfor %}
                <button class="btn btn-success" type="submit">Place Order</button>
            </form>
        </div>
    </div>
</div>

{% endblock%}